#img1{
    height: 700px;
    background-image: url('images/image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   color: #696969;
    text-align: center;
}
#img1 h1{
    margin-top: 12%;
    font-weight: 700;
}
#img1 h1+p{
    font-weight: 500;
}
#img1 button{
    margin-left: 50px;
}
@media  screen and (max-width:576px) {
    #img1 button{
        display: block;
        margin:15px auto;
    }
    
}
#content1{
    margin-top: 120px;
}
#content1 h2+p{
    font-weight: bold;
}
#container2 p{
    margin: 20px 55px;

    font-size: 20px;
    font-weight: 500;
}
#content3 i{
 font-size: 50px;
 color: rgb(244, 244, 70);
 
}
#container3 div , #container4 div{
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
}
#container3 img , #container4 img{
    margin: 10px auto ;
}
#h3{
    background-color: #6969691f;
}
#h3 h3{
    border-bottom: 4px solid yellow;
    padding-bottom: 10px;
}
#h3 ul li{
    line-height: 40px;
}
#img{
    margin-top: 80px;
}
#img .card{
    margin-top: 10px;
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
}
#img img{
    border: 15px solid yellow;

}
#img a{
    color: black;
    font-size: 25px;
}
@media screen and (max-width:900px) {
    #img3{
        display: none;;
    }
}

footer{
    background-color: black;
    margin-top: 80px;
}
footer .row{
    padding-top: 10px;
    padding-bottom: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    line-height: 50px;
}